body{
    margin: 0;
}

/* Specific classes */
.header {
    padding: 0.5rem 1rem; 
    background: lightcoral;

}

/* Utility classes som man kan ha flera utav*/  

.m0{
    margin: 0;
}

.ph1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex {
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}